.profile__add-button {
    width: 150px;
    min-height: 50px;
    background-image: url(../../../images/VectorPlus.svg);
    background-position: center;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-repeat: no-repeat;
    padding: 0;
    align-self: center;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

.profile__add-button:hover{
    opacity: 0.6;
}

@media (max-width: 767px) {
    .profile__add-button {
        width: 282px;
    } 
  }